* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.faixaPreta {
  height: 20px;
  width: 100vw;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  color: #F3F3F3;
  
  
  
}

.filho_direito {
  display: flex;
  gap: 30px;
  list-style: none;
}

.fa-solid{
  margin-left: 5px;
  font-size: 11px;
}

.container_header {
  background-color: #F0A83E;
  height: 62px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 65px;
}

.nome_logo {
  display: flex;
  align-items: center;
}

span {
  color: white;
}
.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  color: black;
}

.fa-paw {
  margin-right: 5px;
  color: white;
}


.container {
  height: 430px;
  width: 100vw;
 
  background-image: url(../assets/bowl-and-pet-daities-on-green-background\ 1.svg);
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
gap: 0
}

.container_filho {
  
  width: 440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.prazer {
  height: 65px;
  width: 95%;
  background-color: white;
  color: #3C2313;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}  
 
.comedores_com_desconto {
  color: #3C2313;
  margin-top: 10px;
}

.btn {
  background-color: #F0A83E;
  color: #FFFFFF;
  border: none;
  padding: 15px 17px;
  border-radius: 5px;
  margin-top: 10px;
}
 
.produtos_destacados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 15px;
}

.produtos_destacados img {
  height: 80px;
} 

.titulo{
  color: #3C2313;
  font-weight: 700px;
  font-size: 40px;
}

.categorias {
  display: flex;
  gap: 15px;
}

.categorias li, a{
text-decoration: none;
list-style: none;
color: #666666;
}

.container_cards{
  height: 312px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%
 
}

.card {
  height: 300px;
  width: 265px;
  
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight:bold;
  color: #3C2313;
  font-size: 18px;


}


.card-1 {
  background-image: url(../assets/churrasquito.svg);
}

.card-2 {
  background-image: url(../assets/comedero.svg);
}

.card-3 {
  background-image: url(../assets/Huesito.svg);
}

.p {
  margin-bottom: 15px;
}

.preco {
  text-align: center;
  color: #F0A83E;
  margin-bottom: 15px;
}

.titulo_contato {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #3C2313;
  font-size: 25px;
  font-weight: 700px;
}

.conteudo_formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  
}

.conteudo_formulario input {
  width: 300px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #3C2313;
  /* mudar cor do texto placeholder? */
}

.conteudo_formulario input::placeholder{
  color: #f3f3f3d3;
}

.btns {
  display: flex;
  gap: 15px;
}


.btns input[type="submit"] {
  width: 90px;
  border-radius: 15px;
  padding: 8px;
  border: none;
  margin-top: 15px;

}

 .btns .cinza  {
  background-color: #8A8787;
}

.btns .amarelo {
  background-color: #F0A83E;
}

.container_inscreva {
  background-color: #F0A83E;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 15px;
  width: 100vw;
}


.para_novidades {
  display: flex;
  gap: 15px;
  color: #FFFFFF;
  align-items: center;
  font-size: 25px;
}

.preencha{
  display: flex;
  gap: 15px;
  align-items: center;
}


.preencha input[type="email"] {
width: 225px;
padding: 15px;
border-radius: 15px;
border: none;
}

.preencha input[type="submit"]{
  
  height: 34px;
  width: 70px;
  border-radius: 15px;
  border: none;
  background-color: #3C2313;
  color: #FFFFFF;
}

.container_footer {
  display: flex;
  height: 250px;
  background-color: #3C2313;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  width: 100vw;


}



.formas_contato {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 10px;
  gap: 15px;
}
.container_footer .fa-solid{
color: white;
font-size: 50px;

}

.icon {
  display: flex;
  gap: 15px;


}

  .coluna {
    display: flex;
    flex-direction: column;
  }

  .coluna h4 {
    color: white;
  }

  .coluna p {
    color: #8A8787;
    font-size: 10px;
  }

  .nome_logo{
    padding-right: 15px;
  }

  .credito {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100vw;
  }